@import url("~leaflet/dist/leaflet.css");
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .padd15{
    padding: 15px;
  }
  .fullheight{
    height: 100vh;
  }
  .previous{
    position: relative;
    width: fit-content;
    float: left;
  }
  .previous::after{
    position: absolute;
    content: "BACK";
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    top: 56px;
    font-weight: 900;
    margin: auto;
    font-size: 32px;
    cursor: pointer;
  }
  .next{
    position: relative;
    width: fit-content;
    margin-left: 26px;
    float: left;
  }
  .next::after{
    position: absolute;
    content: "NEXT";
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    top: 56px;
    font-weight: 900;
    margin: auto;
    font-size: 32px;
    cursor: pointer;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .leaflet-container {
    height: 95%;
    width: 100%;
  }
  