.App {
  text-align: center;
}
body{
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.padd15{
  padding: 15px;
}
.fullheight{
  max-height: 100vh;
  overflow-y: scroll;
}
.scrollable-steps{
  max-height: 95vh;
  overflow-y: scroll;
}
.active-step{
  border:3px solid black
}
.navigation{
  display: block !important;
  margin: 0 auto;
  font-size: 60px !important;
}
.leaflet-routing-container {
  display: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiBackdrop-root{
  z-index: 9999 !important;
}
.react-datepicker-wrapper{
  width: 100% !important;
}
.react-datepicker-wrapper input{
  width: 100%;
}
.z1{
z-index: 1;
}
@media screen and (min-width: 768px) {
  .left-panel{
    height: 98vh;
    overflow-y: scroll;
  }
}
.react-datepicker__input-container input{
  width: 100% !important;
}